################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vs
*/out/build/*
*/build
*/main/out/build/*
/wolfssl_ssh_server/Debug
